html,body{
    margin: 0;
}
p{
  margin: 15px 0;
}
body {
    font-family: sans-serif;
}
:root{
  --black: #3a3a3a;
  --numMark: #88ec96;

  --red: #ff908c;
}
#quad{
  width: 100vw;
  
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.cube{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.cube__indicator{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 900;
  color: var(--black);
}
.cube.premark .cube__indicator{
  border: 5px solid var(--numMark);
}
.cube.premark.premark--repeated .cube__indicator{
  border: 5px solid var(--red);
  background-color: var(--red);
}
.cube.mark .cube__indicator{
  background-color: var(--numMark);
}



.message{
  font-weight: 900;
  text-align: center;
  width: 70px;
  border: 3px solid var(--black);
  border-radius: 10px;
  margin: 20px auto;
}
.message.repeated{
  background-color: var(--red);
}

.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(54, 6, 6);
}
.popup__close{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 12px 14px;
  font-size: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2), inset 0 0 15px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}
.popup.show{
  display: flex;
  align-items: center;
  justify-content: center;
}
.back_ruleta{
  width: 100vw;
  height: 100vh;
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  filter: blur(6px);
}
.roulette{
  position: relative;
  --color1: #F15854;
  --color2: #5DA5DA;
  --color3: #DECF3F;
  --color4: #B276B2;
  --color5: #FAA43A;
  --color6: #4D4D4D;
  background: 
  conic-gradient(
    var(--color1) 0 10%,
    var(--color2) 0 20%,
    var(--color3) 0 30%,
    var(--color4) 0 40%, 
    var(--color2) 0 50%,
    var(--color1) 0 60%,
    var(--color6) 0 70%,
    var(--color5) 0 80%,
    var(--color3) 0 90%,
    var(--color4) 0 100%
  );
  border-radius: 50%;
  border: 10px solid rgb(107, 74, 74);
  width: 350px;
  height: 350px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2),
    inset 0 0 15px 0px rgba(0,0,0,0.2);
  transition: transform 5s;
}

.roulette_spin{
  position: fixed;
  bottom: 50px;
  text-align: center;
  padding: 20px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2), inset 0 0 15px 0px rgba(0,0,0,0.1);
  transition: 1s;

  color: white;
  font-weight: 900;
  cursor: pointer;
}
/*
.roulette_spin:hover{
  background-image: linear-gradient(43deg, #C850C0 0%, #FFCC70 50%, #4158D0 100%);
}
*/
.roulette.fastMode{
  transition: transform 1s;
}
.roulette.slice0{ transform: rotate(0) }
.roulette.slice1{ transform: rotate(1155deg) }
.roulette.slice2{ transform: rotate(1120deg) }
.roulette.slice3{ transform: rotate(1085deg) }
.roulette.slice4{ transform: rotate(1050deg) }
.roulette.slice5{ transform: rotate(1015deg) }
.roulette.slice6{ transform: rotate(980deg) }
.roulette.slice7{ transform: rotate(935deg) }
.roulette.slice8{ transform: rotate(900deg) }
.roulette.slice9{ transform: rotate(865deg) }
.roulette.slice10{ transform: rotate(830deg) }

.roulette:before{
  content:"";
  position: absolute;
}

.roulette:after{
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 30px; height: 30px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}

.punter{
  position: fixed;
  top: 50%;
  transform: translate(175px,-50%);
  z-index: 1;

  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:50px solid #3a3a3a; 
}


.roulette span{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
}
.roulette span:nth-child(1){
  top: 290px;
  left: 125px;
}
.roulette span:nth-child(2){
  top: 290px;
  left: 205px;
}
.roulette span:nth-child(3){
  top: 240px;
  left: 270px;
}
.roulette span:nth-child(4){
  top: 160px;
  left: 300px;
}
.roulette span:nth-child(5){
  top: 80px;
  left: 280px;
}
.roulette span:nth-child(6){
  top: 40px;
  left: 205px;
}
.roulette span:nth-child(7){
  top: 30px;
  left: 120px;
}
.roulette span:nth-child(8){
  top: 85px;
  left: 50px;
}
.roulette span:nth-child(9){
  top: 170px;
  left: 20px;
}
.roulette span:nth-child(10){
  left: 50px;
  top: 250px;
}